#rolls {
  min-height: 25px;
}

.total-bet-input {
  max-width: 100px;
}

$red: #f44336; //lighten(red, 7%);
$green: darken(green, 10%);
$width: calc((100vw - 32px - 4px * 16) / 14);
$margin: 4px;

$width576: 18px;
$width768: 24px;
$width992: 34px;
$width1200: 40px;

.roulette {
  /* colors from vuetify */
  --v-primary-base: #edbc50;
  --v-primary-darken1: #cfa135;
  --v-primary-darken2: #b18717;

  width: 300px;
  height: 300px;
  position: relative;
  margin-right: 26px;
  @media screen and (max-width: 575px) {
    width: 300px;
    height: 300px;
    margin-bottom: 16px;
    margin-right: 0;
  }
  @media screen and (min-width: 576px) {
    width: 200px;
    height: 200px;
    margin-right: 16px;
  }
  @media screen and (min-width: 768px) {
    width: 200px;
    height: 200px;
  }
  @media screen and (min-width: 992px) {
    width: 200px;
    height: 200px;
  }
  @media screen and (min-width: 1200px) {
    width: 300px;
    height: 300px;
  }

  canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99%;
    z-index: 4;
  }

  .roulette-source {
    width: calc(406 * 99% / 480);
    height: calc(406 * 99% / 480);
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    z-index: 1;
    transform: translate(-50%, -50%);
  }

  .roulette-source svg g {
    .cross-arm-1 {
      fill: var(--v-primary-darken2);
    }

    .cross-arm-2 {
      fill: var(--v-primary-darken2);
    }

    .cross-arm-3 {
      fill: var(--v-primary-darken2);
    }

    .cross-arm-4 {
      fill: var(--v-primary-darken2);
    }

    .cross-circle-1 {
      fill: var(--v-primary-darken2);
    }

    .cross-circle-2 {
      fill: var(--v-primary-darken2);
    }

    .cross-circle-3 {
      fill: var(--v-primary-darken2);
    }

    .cross-circle-4 {
      fill: var(--v-primary-darken2);
    }

    .cross-circle-inner-1 {
      fill: var(--v-primary-darken1);
    }

    .cross-circle-inner-2 {
      fill: var(--v-primary-darken1);
    }

    .cross-circle-inner-3 {
      fill: var(--v-primary-darken1);
    }

    .cross-circle-inner-4 {
      fill: var(--v-primary-darken1);
    }

    .circle-center-outer {
      fill: var(--v-primary-base);
    }

    .circle-center {
      fill: var(--v-primary-darken2);
    }

    .circle-center-inner {
      fill: var(--v-primary-base);
    }

    .st5 {
      fill: url(#SVGID_1_);
    }

    .st6 {
      fill: url(#SVGID_2_);
    }

    .st7 {
      fill: url(#SVGID_3_);
    }

    .st8 {
      fill: url(#SVGID_4_);
    }

    .st9 {
      fill: url(#SVGID_5_);
    }

    .st10 {
      fill: url(#SVGID_6_);
    }

    .st11 {
      fill: url(#SVGID_7_);
    }

    .st12 {
      fill: url(#SVGID_8_);
    }

    .st13 {
      fill: url(#SVGID_9_);
    }

    .st14 {
      fill: url(#SVGID_10_);
    }

    .st15 {
      fill: url(#SVGID_11_);
    }

    .st16 {
      fill: url(#SVGID_12_);
    }

    .st17 {
      fill: url(#SVGID_13_);
    }

    .st18 {
      fill: url(#SVGID_14_);
    }

    .st19 {
      fill: url(#SVGID_15_);
    }

    .st20 {
      fill: url(#SVGID_16_);
    }

    .st21 {
      fill: url(#SVGID_17_);
    }

    .st22 {
      fill: url(#SVGID_18_);
    }

    .st23 {
      fill: url(#SVGID_19_);
    }

    .st24 {
      fill: url(#SVGID_20_);
    }

    .st25 {
      fill: url(#SVGID_21_);
    }

    .st26 {
      fill: url(#SVGID_22_);
    }

    .st27 {
      fill: url(#SVGID_23_);
    }

    .st28 {
      fill: url(#SVGID_24_);
    }

    .st29 {
      fill: url(#SVGID_25_);
    }

    .st30 {
      fill: url(#SVGID_26_);
    }

    .st31 {
      fill: url(#SVGID_27_);
    }

    .st32 {
      fill: url(#SVGID_28_);
    }

    .st33 {
      fill: url(#SVGID_29_);
    }

    .st34 {
      fill: url(#SVGID_30_);
    }

    .st35 {
      fill: url(#SVGID_31_);
    }

    .st36 {
      fill: url(#SVGID_32_);
    }

    .st37 {
      fill: url(#SVGID_33_);
    }

    .st38 {
      fill: url(#SVGID_34_);
    }

    .st39 {
      fill: url(#SVGID_35_);
    }

    .st40 {
      fill: url(#SVGID_36_);
    }

    .st41 {
      fill: url(#SVGID_37_);
    }

    .st42 {
      fill: url(#SVGID_38_);
    }

    .st43 {
      fill: url(#SVGID_39_);
    }

    .st0,
    .st1,
    .st2,
    .st3,
    .st4,
    .st5,
    .st6,
    .st7,
    .st8,
    .st9,
    .st10,
    .st11,
    .st12,
    .st13,
    .st14,
    .st15,
    .st16,
    .st17,
    .st18,
    .st19,
    .st20,
    .st21,
    .st22,
    .st23,
    .st24,
    .st25,
    .st26,
    .st27,
    .st28,
    .st29,
    .st30,
    .st31,
    .st32,
    .st33,
    .st34,
    .st35,
    .st36,
    .st37,
    .st38,
    .st39,
    .st40,
    .st41,
    .st42,
    .st43,
    .st44,
    .st45 {
      stroke: var(--v-primary-base);
      stroke-width: 5;
      stroke-miterlimit: 10;
    }

    .st0 {
      fill: transparent;
      stroke-width: 7.959;
      stroke-miterlimit: 10;
    }

    .st1 {
      fill: #f2004d;
    }

    .st3 {
      fill: #006406;
    }

    .st4 {
      fill: none;
      stroke-width: 6;
    }

    .st44 {
      fill: url(#SVGID_40_);
      stroke-width: 7;
      stroke-miterlimit: 10;
    }

    .st45 {
      fill: none;
      stroke-width: 17;
      stroke-miterlimit: 10;
    }

    .st46 {
      fill: #ffffff;
    }

    .circle-inner-gradient.g1 {
      stop-color: var(--v-primary-base);
      stop-opacity: 0;
    }

    .circle-inner-gradient.g2 {
      stop-color: var(--v-primary-base);
      stop-opacity: 0;
    }

    .circle-inner-gradient.g3 {
      stop-color: var(--v-primary-base);
      stop-opacity: 0.1;
    }

    .circle-inner-gradient.g4 {
      stop-color: var(--v-primary-base);
      stop-opacity: 0.25;
    }

    .circle-inner-gradient.g5 {
      stop-color: var(--v-primary-base);
    }

    .st3 {
      fill: $green;
      stroke-width: 5;
      stroke-miterlimit: 10;
      transition: fill 0.4s ease;

      &.light {
        fill: lighten($green, 20%);
      }
    }

    .st2 {
      fill: #000;
      stroke-width: 5;
      stroke-miterlimit: 10;
      transition: fill 0.4s ease;

      &.light {
        fill: #9c9c9c;
      }
    }

    .st1 {
      fill: $red;
      stroke-width: 5;
      stroke-miterlimit: 10;
      transition: fill 0.4s ease;

      &.light {
        fill: lighten($red, 20%);
      }
    }

    .circle-inner-gradient.g1 {
      stop-color: var(--v-primary-base);
      stop-opacity: 0;
    }

    .circle-inner-gradient.g2 {
      stop-color: var(--v-primary-base);
      stop-opacity: 0;
    }

    .circle-inner-gradient.g3 {
      stop-color: var(--v-primary-base);
      stop-opacity: 0.1;
    }

    .circle-inner-gradient.g4 {
      stop-color: var(--v-primary-base);
      stop-opacity: 0.25;
    }

    .circle-inner-gradient.g5 {
      stop-color: var(--v-primary-base);
    }

    .whell-ic-cell-red.s5 {
      stop-color: lighten($red, 18%);
    }

    .whell-ic-cell-red.s4 {
      stop-color: lighten($red, 14%);
    }

    .whell-ic-cell-red.s3 {
      stop-color: lighten($red, 7%);
    }

    .whell-ic-cell-red.s2 {
      stop-color: lighten($red, 2.5%);
    }

    .whell-ic-cell-red.s1 {
      stop-color: $red;
    }
  }

  .outside {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;

    .gradient.g1 {
      stop-color: var(--v-primary-base);
      stop-opacity: 0;
    }

    .gradient.g2 {
      stop-color: var(--v-primary-base);
      stop-opacity: 0;
    }

    .gradient.g3 {
      stop-color: var(--v-primary-base);
      stop-opacity: 0.1;
    }

    .gradient.g4 {
      stop-color: var(--v-primary-base);
      stop-opacity: 0.25;
    }

    .gradient.g5 {
      stop-color: var(--v-primary-base);
    }

    .st0 {
      stroke: var(--v-primary-base);
    }
  }
}

.message-container {
  height: 0;
  padding: 32px 0 10px 0;
}
